@model MoviePage.Models.Movie

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><iframe width="560" height="315" src="@Model.TrailerHttp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="col-md-6">
                @*    @foreach (var item in Model.MovieAndCategories)
                {

                <div class="small mb-1"><h5>@item.Category.CategoryName</h5></div>


                } *@

                <h1 class="display-5 fw-bolder">@Model.MovieName</h1>
                <div class="fs-5 mb-5">
                    <h5>Director: @Model.Director.FirstName  @Model.Director.LasttName</h5>
                    @*   <h4><u>Casts</u></h4>
                    @foreach (var item in Model.MovieAndCasts)
                    {
                    <h5>@item.Cast.FirstName  @item.Cast.LastName </h5>

                    } *@

                    <span>@Model.PublishedDate</span>
                </div>
                @*  Movie Summary *@
                <p class="lead">@Model.Description</p>
            </div>

        </div>

    </div>
</section>

