@model List<ECommerce.Entity.Entity.Category>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Test</h3>
<div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">Z</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.CategoryName</td>
            <td>@item.Description</td>
            
        </tr>
        }
      
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">Z</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ProductList)
        {

            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.ProductName</td>
                <td>@item.Description</td>

            </tr>
        }

    </tbody>
   

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">X</th>
                <th scope="col">Y</th>
                <th scope="col">Z</th>
            </tr>
        </thead>
        <tbody>
           
            @foreach (var item in ViewBag.SupplierList)
            {

                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.CompanyName</td>
                    <td>@item.Adress</td>

                </tr>
            }

        </tbody>
</div>